[tool.poetry]
name = "pywisetransfer"
version = "0.3.2"
description = "Python library for the TransferWise API"
authors = ["James Addison <jay@jp-hosting.net>"]
homepage = "https://www.github.com/jayaddison/pywisetransfer"
repository = "https://www.github.com/jayaddison/pywisetransfer"
license = "AGPL-3.0"
readme = "README.md"
keywords = ["payments", "transferwise"]

[tool.poetry.dependencies]
python = "^3.8"
apiron = "^7.1.0"
munch = "^4.0.0"
cryptography = "^42.0.0"

black = { version = "^24.3.0", optional = true }
pytest = { version = "^8.1.1", optional = true }
responses = { version = "^0.25.0", optional = true }
munch-stubs = { version = "^0.1.2", optional = true }
types-cryptography = { version = "^3.3.23.2", optional = true }

[tool.black]
line-length = 100

[tool.poetry.extras]
dev = ["black", "munch-stubs", "pytest", "responses", "types-cryptography"]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
